@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
 
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%; 
  transform: translateY(-50%);
  z-index: 10; 
}


.swiper-button-next::after,
.swiper-button-prev::after {
  color: #ffffff; 
  font-size: 18px; 
}


.swiper-button-next {
  right: 10px; 
}

.swiper-button-prev {
  left: 10px;
}





@keyframes slideLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


.slide-left {
  animation: slideLeft 0.5s forwards;
}

.slide-right {
  animation: slideRight 0.5s forwards;
}

.tab-button {
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.tab-button:hover {
 
  transform: scale(1.05);
}

.tab-button:active {
  transform: scale(0.95);
}


.progress-container {
  width: 100%;
  background-color: #e0e0e0; 
  border-radius: 10px;
  height: 20px;
  overflow: hidden; 
  position: relative;
}

.progress-bar {
  height: 100%;
  background-color: #ed242e; 
  border-radius: 10px;
  width: 0;
  animation: progress-animation 3s forwards;
}

@keyframes progress-animation {
  0% {
    width: 0;
  }
  
  100% {
    width: 70%;
  }
}




.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ed242e; 
  color: white;
  padding: 15px;
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border: none;
  cursor: pointer;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.scroll-to-top-button.show {
  opacity: 1;
  transform: translateY(0);
}

.scroll-to-top-button.hide {
  opacity: 0;
  transform: translateY(100px);
}


  